*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color:  rgb(142, 178, 188);
    background-repeat: no-repeat;

}

.container{
    background-color: rgb(0, 192, 160);
    max-width: 700px;
    margin: 3rem;
    font-size: 1rem;
    /* line-height: 2; */
    height: 40vh;

    /* background-color: yellow; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-top: 5em;
    padding: 1.8em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(19, 16, 16);
}


input{
    width: 50%;
    height: 5vh;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(109, 174, 159);
}

.sub{
    font-size: 1.1rem;
    font-weight:600;
}

button{
    padding: 0.4em 1em;
    background-color: #d10a10;
    font-size: 1.2rem;
    color: rgb(200, 200, 200);
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgba(216, 171, 23, 0.7);
}

.para{
    font-size: 2rem;
}

.heading{
    font-size: 2.5em;
}